* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 5em auto 0 auto;
  direction: rtl;
  text-align: center;
  padding: 0 50px;
}

h1 {
  color: #1e5493;
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h2, h3, h4, h5, h6 {
  color: #C65B2E;
}

.btn {
  background-color: #1e5493;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #0e4483;
}

body > .container > header > nav {
  border-bottom: 1px solid #d1d1d1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}

body > .container > header > nav > ul {
  list-style: none;
  text-align: center;
}

body > .container > header > nav > ul > li {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  line-height: 1.3;
  vertical-align: middle;
}

body > .container > header > nav > ul > li > a {
  color: #646464;
  text-decoration: none;
}

.section-float {
  float: right;
  width: 45%;
  margin: 0 2%;
}

#content a[name] { position: relative; top: -100px;}

#content table {border-collapse:collapse; margin: auto;}
#content table td, #content table th {border: 1px solid gray; max-width: 20em;}

#sponsorship {
  margin-top: 25px;
  min-height: 100%;
  position: relative;
}

.location {
  font-size: 120%;
}

.location dd{
  margin: 0 0 5px;
}

.commit {
    padding: 16px 0;
}

.commit .dot {
    position: absolute;
    left: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dfdfdf;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    margin-top: 35px;
}

.commit .empty {
    height: 50px;
}

.commit .first::after {
    height: 50%;
    text-align: center;
}

.commit.last::after {
     height: 50%;
 }

.event-full .commit {
    text-align: center;
}

.commit.empty::after {
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
}
.commit::after {
    margin-top: 20px;
    position: absolute;
    z-index: -1000;
    width: 10px;
    height: 100%;
    content: " ";
    background-color: #dfdfdf;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
}

@media (min-width: 768px) {
    .event-full .commit {
        right: 41.66667%;
        float: left;
        width: 16.66667%;
    }
}

.event-full .commit {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.event-full .user {
    position: relative;
}

.event-full.general .title {
    padding-top: 10px;
}

.event-full .title {
    float: left;
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

.event-full h1, .event-full h2, .event-full h3 {
    margin-top: 0.7em;
}

.event-full h2 {
    font-size: 25px;
}

.event-full::before, .event-full::after {
    content: " ";
    display: table;
}

.event-full::after {
    clear: both;
}

.event-full.general .talk-description {
    padding-top: 10px;
}

.event-full .keynote-text {
    font-size: 16px;
}

.event-full .talk-description {
    left: 16.66667%;
    float: left;
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.event-full .talk-description, .event-full-rtl .talk-description, .talk-block .master .talk-description, .talk-block .practical .talk-description {
    padding-top: 20px;
}

.talk-description {
    max-height: 100px;
    padding: 16px 0;
}
.event-full h1, .event-full h2, .event-full h3 {
    margin-top: 0.7em;
}

.event-full small {
    right: 10px;
}
.event-full small {
    position: absolute;
    display: block;
    margin-top: -5px;
    color: #d1d1d1;
}
small {
    font-size: 80%;
}

#extended {
  font-size: 80%;
}

#footer {
  background: #1e5493;
  color: #fff;
  margin-top: 25px;
  padding: 25px;
  direction: ltr;
  font-size: 14px;
}

#footer a {
  color: #fff;
}

h1, h2 {
  font-family: arial, sans-serif;
}

#greetings {
  font-size: 200%;
  font-family: "Anka CLM Bold,אנקה שמן", "אנקה שמן", "Anka CLM Bold", "fancyankaotfAnkaCLMBoldotf_font";
}

  @font-face {
  src: url("AnkaCLM-Bold.otf");
  font-family: "fancyankaotfAnkaCLMBoldotf_font";
}

#greetings:before {
  display: block;
  background: url(favicon_1.png) no-repeat;
  height: 256px; width: 256px;
  margin: auto;
  content:"";
}
#greetings {
  margin-bottom: 50px;
}

/* animation time! */
@media screen and (min-width: 400px) {
  #greetings:hover:before {
    position: relative;

    animation-duration: 1s;
    animation-name: jump;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
  }

  @keyframes jump {
    from {
      top:0
    }
    50% {
      top:-50px
    }
    to {
      top:0
    }
  }
}


/* responsive style */
@media screen and (min-width: 769px) {
  .onlyMobile {
      display: none;
  }
}

@media screen and (max-width: 400px) {
        #header .hgroup {
            background-size: 90%;
    }
}
@media screen and (max-width: 768px) {
    #header {
        position: absolute;
    }

    body > .container > header > nav > ul > li > a {
        font-size: 12px;
        vertical-align: top;

    }

    .noMobile {
        display: none;
    }

    .section-float {
        float: inherit;
        margin: inherit;
        width: inherit;
    }

    .onlyMobile {
      display: block;
    }

    #extended div.section {
        position: static;
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px) {
  #content table {
    width: 95vw;
    table-layout: fixed;
    display: table;
    margin-right: -40px;
  }
  #content tr {
    display: table-row;
  }
  #content td, #content th {
    display: table-cell;
    word-wrap: break-word;
  }
}

#schedule-section table th,
#schedule-section table td[colspan] {
   background-color: #ccc;
}

#schedule-section table tbody tr:nth-child(odd) {
   background-color: #ddd;
}

#schedule-section table tbody tr.fake-odd {
   background-color: #ddd;
}

#schedule-section table tbody tr td:nth-child(odd) {
   background-color: rgba(255,255,224,0.4) ;
}

.sponsor, .sponsor a{
  display: inline-block;
}

.sponsor img{
  max-height: 50vw;
  max-width: 80vw;
}

.silver img{
  max-height: 40vw;
}

.bronze img{
  max-height: 30vw;
}

.sponsors h3 {
  color: #1e5493;
}

.language {
  position: absolute;
  margin-top: 40px;
}

.aug-img {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 250px;
}

.aug-location {
  display: inline-block;
  vertical-align: middle;
}

#center-msg {
  padding: 15px 0;
  color: #fff;
  background-color: #1e5493;
  font-size: 28px;
  text-align: center;
}

.inner-logo-sec {
  padding-right: 10%;
  padding-left: 10%;
}

.inner-logo-sec h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 64px;
  text-align: start;
}

.inner-logo-sec div {
  font-size: 30px;
  padding-right: 14px;
}

.website-license {
}

.gh-ribbon{
  position: fixed; 
  top: 0;
  border: 0;
  z-index: 10000;
}

@media screen and (max-width: 768px){
  .gh-ribbon{
    display: none;
  }
}

.branch-description {
    margin-left: -10px;
    margin-right: -10px;
    vertical-align: bottom;
}

.branch-description:before, .branch-description:after {
    content: " ";
    display: table;
}

.branch-description:after {
    clear: both;
}

@media (min-width: 768px) {
    .branch-description .branch-name {
        float: left;
        width: 33.33333%;
    }
}

.branch-description .branch-name {
        position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
        font-size: 24px;
}

.branch-description .master {
    right: 10px;
}

.branch-description .master, .branch-description .practical {
    position: absolute;
    bottom: 0;
}

.branch-description .branch {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    left: -1px;
}
.branch {
    height: 103px;
    margin-bottom: -2px;
    text-align: center;
}

@media (min-width: 768px) {
    .branch-description .branch {
        float: left;
        width: 33.33333%;
    }
}

.avatar {
    width: 96px;
    height: 96px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: #fff;
}

@media (min-width: 768px) {
    .talk-block .event {
        margin-top: 0;
        float: left;
        width: 50%;
    }
}

.talk-block .event {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .talk-block .practical .commit-holder {
        right: 80%;
        float: right;
        width: 20%;
    }
}
.talk-block .practical .commit-holder {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 11px;
}

